@font-face {
    font-family: ysss;
    src: url(../Fonts/ysabeau_sx/static/YsabeauSC-Light.ttf);
}
body{
     background-image: url(Texturelabs_Sky_152M.jpg);
     color: wheat;
     font-family: ysss;
     background-blend-mode: darken;   
     background-repeat: no-repeat; 
     background-size: cover;
}
.header{
    font-weight: 400;
    font-size: x-large;
    color: white;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    height: 8vh;
    border: 1px solid black;
    border-radius: 10%/250%; 
    background-color: #ff0000;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.header>ul>li{
    font-size: xx-large;
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    border-right: 1px solid black;
    padding-right: 10px;
    
    
 }
.bodyy{ 
    position: relative;
    width: 90%;
    height: 90vh;
    background: transparent;
    border: 1px solid #ffffff;
    margin-left: 4%;
    margin-top: 20px;
    border-radius: 2%;
    display: inline-block;
}
.bodyy>img{
    position: relative;
    display: inline-block;
    width: auto;
    border: 1px solid #ffffff;
    border-radius: 50%;
    align-self: center;
}